[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = ">=5.15"
pygame-ce = ">=2.5"
numpy = ">=1.26"
sounddevice = ">=0.4.7"
pytest = ">=8.0"
flask = "*"

[dev-packages]

[requires]
python_version = "3.14"
